.App--navbar {
  background-color: rgb(24, 24, 24);
  padding: 0 60px;
  height: 40px;
}

.App--navbar ul {
  display: flex;
  justify-content: flex-end;

  list-style: none;
  gap: 15px;
  font-weight: bold;
  font-size: 1.1rem;
}

.App--navbar ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.App--navbar a {
  text-decoration: none;
  color: white;
}